.overlay {
  position: absolute;
 width: 550px;
 height: 100%;
 background-color: rgba(239,239,239,.9);
 z-index: 1;
 top: 0;
}
div.options,form {
  text-align: center;
  width: 200px;
  margin: auto;
  padding: 4px;
  border-radius: 4px;
  height: 200px;
  position: absolute;
  background-color: #ccc;
  display: grid;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 2px solid black;
  -webkit-transition: all .15s ease-in-out;
     -moz-transition: all .15s ease-in-out;
      -ms-transition: all .15s ease-in-out;
       -o-transition: all .15s ease-in-out;
          transition: all .15s ease-in-out;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
       -o-transform: scale(0);
          transform: scale(0);

  grid-template: repeat(4,1fr) / 1fr;
  & button {
    margin: 4px;
  }
}
.new-project {
  height: 160px;
  padding-top: 30px;
}
.new-task {
  height: 240px;
  & input {
    height: 30px;
    padding: 4px;
  }
}
.new-note {
  & textarea {
    height: 80px;
  }
}
.show-form {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);

}