* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template: 60px 1fr 120px / 1fr;
}
header {
	box-shadow: 1px 1px 3px #ccc;
	display: flex;
	align-items: center;
	padding-left: 2rem;
}
main {
	display: grid;
	grid-template-columns: 240px 1fr;
}
nav {
	border-right: 1px solid #ccc;
	padding-top: 1rem;
}
nav ul {
	list-style-type: none;
	display: block;
}
nav ul li {
	width: 90%;
	margin: 0 auto;
}
nav ul li button {
	border: none;
	width: 100%;
	height: 40px;
	padding: 4px 8px;
	margin: 1px;
	background-color: #aaa;
	font-size: 21px;
	color: #fff;
	border-radius: 4px;
}
nav ul li button:hover {
	background-color: #111111;
}
.projects li {
	margin-right: 0;
}
footer {
	text-align: center;
	padding-top: 2rem;
}
.github {
	font-weight: 900;
	color: #111111;
	text-decoration: none;
}
.active {
	background-color: #111111;
	font-weight: 700;
}
button img {
	display: inline;
	height: 32px;
}
.plus {
	display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	border-radius: 0 0 100px 100px;
	margin: 0 auto;
}
form.add-project {
	border: 2px solid #ccc;
	padding: .2rem;
	margin: .4rem;
	font-size: 18px;
	display: none;
}
form.add-project input[type="text"] {
	padding: .4rem .8rem;
	width: 100%;
	outline: none;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 21px;
}
form.add-project input[type="text"]:focus {
	border: 2px solid #000;
}
form.add-project input[type="submit"] {
	font-size: 21px;
	font-weight: 700;
	padding: .2rem .6rem;
	margin: 1px;
}
button.add-task, button.add-note {
	display: flex;
	align-items: center;
	padding: 4px 8px;
	font-weight: 700;
	margin: 1rem;
	border: 2px solid black;
	border-radius: 4px;
}
.overlay {
	position: absolute;
	margin: 0 auto;
	width: 100%;
	left: 0;
	top: 0;
	height: 100vh;
	z-index: 0;
}
.add-task-form, .add-note-form{
	border: 2px solid black;
	width: 550px;
	padding: 20px 100px;
	z-index: 2;
	position: absolute;
	margin: 0 auto;
	left: 30%;
	display: grid;
	display: none;
	background-color: #aaa;
}
.add-task-form input, .add-note-form input {
	padding: 8px 1rem;
	border: 1px solid black;
	margin: 3px;
}
form.show {
	display: grid;
	z-index: 2;
}
.items {
	width: 80%;
	min-height: 300px;
	margin: 0 auto;
	background-color: #ddd;
}
.btns {
	display: flex;
	gap: 1rem;
}
button.hide {
	display: none;
}
div.items {
	margin-top: 3rem;
}